<!DOCTYPE html>
<html lang="en">
  <head>
    <?php
      include 'HTMLHeader.html';
    ?>
    <style>
      h3{
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
      }
    </style>
  </head>

  <body>

    <!-- Fixed navbar -->

          <?php
            //echo $username;
            include 'buyer_menu.html';
          ?>
  <div id="myheaderwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
        <h1>- Customer -</h1>
        <h3><a href="product_c" class=""><b>> Product <</b></a></h3>
        <h3><a href="home_c/cart" class=""><b>> My Cart <</b></a></h3>
        <h3><a href="home_c/watchlist" class=""><b>> Watch List <</b></a></h3>
        <h3><a href="home_c/message" class=""><b>> Messages Box <</b></a></h3>
        <h3><a href="home_c/history" class=""><b>> History <</b></a></h3>
        </div> 
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- headerwrap -->
	
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
   <script src=<?echo base_url("assets/js/bootstrap.min.js");?>></script>
  
  </body>
</html>
