          <ul class="nav navbar-nav navbar-right">
            <li><a href="home_c">HOME</a></li>
            <li><a href="home_c/product">PRODUCT</a></li>
            <li><a href="home_c/cart">MY CART</a></li>
            <li><a href="home_c/watchlist">WATCH LIST</a></li>
            <li><a href="home_c/message">MSG BOX</a></li>
            <li><a href="home_c/history">HISTORY</a></li>
            <!-- <li><a data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o"></i></a></li> -->
          	<li><a href="home_c/logout">SIGN OUT</a></li>
          	<li><a href=<?php echo "member_c/memberDetail/".$username;?>>| <?php echo " ".$username." ";?> |</a></li>
          </ul>