<!DOCTYPE html>
<html lang="en">
  <head>
    <?php
      include 'HTMLHeader.html';
    ?>
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="home_c">DUMB<i class="fa fa-circle"></i>BAY</a>
        </div>
        <div class="navbar-collapse collapse">
          <?php
            include 'buyer_menu.html'
          ?>
        </div><!--/.nav-collapse -->
      </div>
    </div>

  <div class="container wb">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
        <h4>- Buyer -</h4>
        <h3><a href="home_c/product_c" class=""><b>> Product <</b></a></h3>
        <h3><a href="home_c/cart" class=""><b>> My Cart <</b></a></h3>
        <h3><a href="home_c/watchlist" class=""><b>> Watch List <</b></a></h3>
        <h3><a href="home_c/message" class=""><b>> Messages Box <</b></a></h3>
        <h3><a href="home_c/history" class=""><b>> History <</b></a></h3>
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- headerwrap -->



	<div id="lg">
		<div class="row centered">
			<br><br>
			<div class="col-lg-4">
				<i class="fa fa-heart"></i>
				<h4>DESIGN</h4>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4">
				<!-- <i class="fa fa-laptop"></i> -->
				<img src="assets/img/frappe_logo-small.gif">
				<h4>Frappe & Co,.</h4>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4">
				<i class="fa fa-trophy"></i>
				<h4>SUPPORT</h4>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
			</div><!-- col-lg-4 -->
		</div><!-- row -->
		<br>
		<br>
	</div><!-- container -->
	
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
   <script src=<?echo base_url("?>assets/js/bootstrap.min.js");?>></script>
  
  </body>
</html>
