<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>DUMBOBAY - shopping area</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style>
    li.watchlist{
      margin-top: 30px;
      margin-bottom: 30px;
    }

    </style>
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">DUMB<i class="fa fa-circle"></i>BAY</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            <li class="active"><a href="#">HOME</a></li>
            <li><a href="#">PRODUCT</a></li>
            <li><a href="#">MY CART</a></li>
            <li><a href="#">WATCH LIST</a></li>
            <li><a href="#">ORDER</a></li>
            <li><a href="#">MSG BOX</a></li>
            <li><a href="#">HISTORY</a></li>
            <!-- <li><a data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o"></i></a></li> -->
          	<li><a href="index.html">SIGN OUT</a></li>
          	<li><a href="#">| Pookpik |</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  <div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
        <h1>Want it that much ? then just <b>PAY</b> more.</h1>
        <h2>- DumboBay -</h2>
        
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- headerwrap -->

	<div>
		<div class="container">
			<div>
				<div class="col-md-10 col-md-offset-1" style="padding-top:50px; padding-bottom:25px">
          <div class="row">
            <div class="col-md-2" style="padding-left:20px">
              <img src="assets/img/shoping_cart.png" width="130" height="100">
            </div>
            <div class="col-md-8">
              <h1 style="color:black;padding-top:13px">My cart</h1>
            </div>
            <div class="col-md-2" style="padding-top:70px;padding-left:70px">
              items: 4
            </div>
          </div>
				</div>
        
        <div class="col-md-10 col-md-offset-1" style="background-color:white; padding-bottom: 20px">
          <ol style="list-style-type:none; padding-left: 0px ;padding-bottom: 0px">
            <li class="watchlist" style="border-bottom:solid #c9c9c9 1px; padding-bottom: 30px">
              <div class="row">
                <div class="col-md-3">
                  <img src="assets/img/imac-retina-step1-hero-2014.jpeg" width="185" height="104">
                </div>
                <div class="col-md-9" style="padding-bottom: 0px; padding-right:0px">
                  <div>
                    <div class="row col-md-12" style="border-bottom:solid #c9c9c9 1px; padding-bottom: 0px; padding-right:0px">
                      <div class="col-md-6">
                        <h3>27-inch iMac with Retina 5K Display</h3>
                      </div>
                      <div class="col-md-2" style="font-size: 13px; padding-top:22px">
                        200,000 bath
                      </div>
                      <div class="col-md-1" style="padding-top:10px; padding-left:0px; padding-right:0px">
                        <input style="width:100%; font-size: 12px; padding-right: 10px" type="text" class="form-control" id="inputEmail" placeholder="1" >
                      </div>
                      <div class="col-md-3" style="font-size: 13px; padding-top:22px; padding-right:0px; padding-left:70px">
                      2,000,000 bath
                      </div>
                    </div>
                    <div class="row">
                      <div class="row col-md-1">
                      </div>
                      <div class="row col-md-2">
                        <a href="#">more info...</a>
                      </div>
                      <div class="row col-md-9">
                      </div>
                      <div class="row col-md-1" style="padding-right:0px;padding-left:0px">
                        <a href="#">remove</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="watchlist" style="border-bottom:solid #c9c9c9 1px; padding-bottom: 30px">
              <div class="row">
                <div class="col-md-3">
                  <img src="assets/img/iphone6.jpg" width="185" height="104">
                </div>
                <div class="col-md-9" style="padding-bottom: 0px; padding-right:0px">
                  <div>
                    <div class="row col-md-12" style="border-bottom:solid #c9c9c9 1px; padding-bottom: 0px; padding-right:0px">
                      <div class="col-md-6">
                        <h3>iPhone 6</h3>
                      </div>
                      <div class="col-md-2" style="font-size: 13px; padding-top:22px">
                        200,000 bath
                      </div>
                      <div class="col-md-1" style="padding-top:10px; padding-left:0px; padding-right:0px">
                        <input style="width:100%; font-size: 12px; padding-right: 10px" type="text" class="form-control" id="inputEmail" placeholder="1" >
                      </div>
                      <div class="col-md-3" style="font-size: 13px; padding-top:22px; padding-right:0px; padding-left:70px">
                      2,000,000 bath
                      </div>
                    </div>
                    <div class="row">
                      <div class="row col-md-1">
                      </div>
                      <div class="row col-md-2">
                        <a href="#">more info...</a>
                      </div>
                      <div class="row col-md-9">
                      </div>
                      <div class="row col-md-1" style="padding-right:0px;padding-left:0px">
                        <a href="#">remove</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="watchlist" style="border-bottom:solid #c9c9c9 1px; padding-bottom: 30px">
              <div class="row">
                <div class="col-md-3">
                  <img src="assets/img/iphone6.jpg" width="185" height="104">
                </div>
                <div class="col-md-9" style="padding-bottom: 0px; padding-right:0px">
                  <div>
                    <div class="row col-md-12" style="border-bottom:solid #c9c9c9 1px; padding-bottom: 0px; padding-right:0px">
                      <div class="col-md-6">
                        <h3>iPhone 6</h3>
                      </div>
                      <div class="col-md-2" style="font-size: 13px; padding-top:22px">
                        200,000 bath
                      </div>
                      <div class="col-md-1" style="padding-top:10px; padding-left:0px; padding-right:0px">
                        <input style="width:100%; font-size: 12px; padding-right: 10px" type="text" class="form-control" id="inputEmail" placeholder="1" >
                      </div>
                      <div class="col-md-3" style="font-size: 13px; padding-top:22px; padding-right:0px; padding-left:70px">
                      2,000,000 bath
                      </div>
                    </div>
                    <div class="row">
                      <div class="row col-md-1">
                      </div>
                      <div class="row col-md-2">
                        <a href="#">more info...</a>
                      </div>
                      <div class="row col-md-9">
                      </div>
                      <div class="row col-md-1" style="padding-right:0px;padding-left:0px">
                        <a href="#">remove</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="watchlist" style="border-bottom:solid #c9c9c9 1px; padding-bottom: 30px">
              <div class="row">
                <div class="col-md-3">
                  <img src="assets/img/iphone6.jpg" width="185" height="104">
                </div>
                <div class="col-md-9" style="padding-bottom: 0px; padding-right:0px">
                  <div>
                    <div class="row col-md-12" style="border-bottom:solid #c9c9c9 1px; padding-bottom: 0px; padding-right:0px">
                      <div class="col-md-6">
                        <h3>iPhone 6</h3>
                      </div>
                      <div class="col-md-2" style="font-size: 13px; padding-top:22px">
                        200,000 bath
                      </div>
                      <div class="col-md-1" style="padding-top:10px; padding-left:0px; padding-right:0px">
                        <input style="width:100%; font-size: 12px; padding-right: 10px" type="text" class="form-control" id="inputEmail" placeholder="1" >
                      </div>
                      <div class="col-md-3" style="font-size: 13px; padding-top:22px; padding-right:0px; padding-left:70px">
                      2,000,000 bath
                      </div>
                    </div>
                    <div class="row">
                      <div class="row col-md-1">
                      </div>
                      <div class="row col-md-2">
                        <a href="#">more info...</a>
                      </div>
                      <div class="row col-md-9">
                      </div>
                      <div class="row col-md-1" style="padding-right:0px;padding-left:0px">
                        <a href="#">remove</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            
          </ol>
          <div class="row" stlye="padding-bottom:50px">

            <div class="row col-md-2" style="padding-left:30px">
              <button type="button" class="btn btn-default"> Save my cart </button>
            </div>
            <div class="row col-md-9">
            </div>
            <div class="row col-md-1" style="padding-left:50px">
              <button type="button" class="btn btn-default"> Check out </button>
          </div>
          </div>
        </div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->


	<div class="container w">
		<div class="row centered">
			<br><br>
			<div class="col-lg-4">
				<i class="fa fa-heart"></i>
				<h4>DESIGN</h4>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4">
				<!-- <i class="fa fa-laptop"></i> -->
				<img src="assets/img/frappe_logo-small.gif">
				<h4>Frappe & Co,.</h4>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4">
				<i class="fa fa-trophy"></i>
				<h4>SUPPORT</h4>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
			</div><!-- col-lg-4 -->
		</div><!-- row -->
		<br>
		<br>
	</div><!-- container -->
	
	<!-- FOOTER -->
	<div id="f">
		<div class="container">
			<div class="row centered">
				<a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-dribbble"></i></a>
		
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- Footer -->


	


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>
