<!DOCTYPE html>
<html lang="en">
<head>
	<?php
    include 'HTMLHeader.html';
  ?>
	<style type="text/css">
		.control-label{
			padding-top: 4px;
					}
				
	</style>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body>

	<!-- Fixed navbar -->
  <?php
      if($type==0){
        include 'guest_menu.html';
      }
      else if($type==1){
        include 'admin_menu.html';  
      }            
      else if($type==2){
        include 'buyer_menu.html';  
      }
      else if($type==3){
        include 'seller_menu.html'; 
      }
    ?>
	<!-- =======================================================================-->
	<div id="myheaderwrap">
		<div class="container">
			<div class="row centered">
				<h2>Just let me <b>Shop</b> and no one gets hurt. <b>-DumboBay-</b></h2>	
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->
	<!-- ======================================================================= -->
	<!-- Profile -->
	<div>
		<div class="container">
			<div>
				<div class="col-md-10 col-md-offset-1 centered" style="padding-top:50px; padding-bottom:10px">
					<legend>
						<h1>Edit Profile</h1>
					</legend>
				</div>
				<?php echo form_open('member_c/editProfile','class="form-horizontal" id="editprofile-form" name="editprofile-form" onsubmit="return validateForm()"'); ?>
				<div class="col-md-10 col-md-offset-1 border-radius" style="background-color:white;padding-top:20px;margin-bottom:25px">
					<div class="row form-group">
						<label class="col-md-3 control-label" align="right">Firstname:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" id="name" placeholder="<?php echo $member->Firstname; ?>" autofocus>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-md-3 control-label" align="right">Lastname:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" id="surname" placeholder="<?php echo $member->Lastname; ?>">
						</div>
					</div>
					<div class="row form-group">
						<label class="col-md-3 control-label" align="right">Address:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" id="address" placeholder="<?php echo $member->address; ?>">
						</div>
					</div>
					<div class="row form-group">
						<label class="col-md-3 control-label" align="right">E-mail:</label>						
						<div class="col-md-9">
							<input type="text" class="form-control" id="email" placeholder="<?php echo $member->Email; ?>">
						</div>
					</div>
					<div class="row form-group">
						<label class="col-md-3 control-label" align="right">Tel.:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" id="tel" placeholder="<?php echo $member->Telephone; ?>">
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-3" align="right">
						
						</div>
						<div class="col-md-9">
							<a href="profile.html"><button type="submit" class="btn btn-default" >Cancel</button></a>
							<button type="submit" class="btn btn-info" >Save</button>
						</div>
					</div>
				</div>
				</form>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->
	<!-- end of Profile -->

	<!-- Footer -->

	<!-- end of Footer-->

<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src=<?php echo base_url("assets/js/validation_function.js");?> ></script>
	<!--  The form that will be parsed by jQuery before submit  -->
	<script>

	function validateForm() {
	    var membername = document.forms["editprofile-form"]["membername"].value;
	    var name = document.forms["editprofile-form"]["name"].value;
	    var surname = document.forms["editprofile-form"]["surname"].value;
	    var address = document.forms["editprofile-form"]["address"].value;
	    var email = document.forms["editprofile-form"]["email"].value;
	    var tel = document.forms["editprofile-form"]["telephone"].value;

	    var message ="";

	    if (!validatemembername(membername) ) {
	    	alert("Your membername is invalid.");
	    	return false;
	    }

	    if (!validateName(name)&!validateName(surname)){
	  		alert("Your firstname or lastname is invalid.");
	    	return false;
	  	}
	  	if (!validateAddress(address)){
	    	alert("Your address is invalid.");
	    	return false;
	    }
	    if (!validateEmail(email)){
	    	alert("Your e-mail is invalid.");
	    	return false;
	    }
	    if (!validateTelephone(tel)){
	    	alert("Your telephone number is invalid.");
	    	return false;
	    }
	}

	</script>
</body>
</html>
