
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>DUMBOBAY - shopping area</title>

    <!-- Bootstrap core CSS -->
    <link href=<?php echo base_url("/assets/css/bootstrap.css");?> rel="stylesheet">
    <link href=<?php echo base_url("assets/css/dumbobaycss.css");?> rel="stylesheet">
    <link href=<?php echo base_url("assets/css/font-awesome.min.css");?> rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href=<?php echo base_url("assets/css/main.css");?> rel="stylesheet">