<!DOCTYPE html>
<html lang="en">
<head>
	<?php
		include 'HTMLHeader.html';
	?>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body>

	<!-- Fixed navbar -->
  <?php
         include 'guest_menu.html';
         
    ?>
	<!-- =======================================================================-->
	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h1>Just let me <b>Shop</b> <br>and no one gets hurt.</h1>
					<h2>- DumboBay -</h2>
					<h2><a href="home_c/product" class="link-product"><b>> Products <</b></a></h2>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->
	<!-- ======================================================================= -->

<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src=<?echo base_url("?>assets/js/bootstrap.min.js");?>></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

</body>
</html>
