
<html lang="en">
<head>
	<?php
		include 'HTMLHeader.html';
	?>
</head>
<body>
	<!-- Fixed navbar -->
  <?php
         include 'guest_menu.html';
    ?>
	<!-- =======================================================================-->
	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h1>Just let me <b>Shop</b> <br>and no one gets hurt.</h1>
					<h2>- DumboBay -</h2>
					<h2><a href="home_c/product" class="link-product"><b>> Products <</b></a></h2>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->
	<!-- ======================================================================= -->
	<?php
	if($this->session->flashdata('message')) echo '
		<script>
			alert("'.$this->session->flashdata('message').'");
		</script>
		';
?>
<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src=<?echo base_url("?>assets/js/bootstrap.min.js");?>></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

</body>
</html>
