<!doctype html>
<!--<?php
  $messages;

?>-->
<htlm lang="en">
  <head>
<?php
    include 'HTMLHeader.html';
  ?>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body>

  <!-- Fixed navbar -->
  <?php
      // if($type==0){
      //   include 'guest_menu.html';
      // }
      // else if($type==1){
      //   include 'admin_menu.html';  
      // }            
      // else if($type==2){
      //   include 'buyer_menu.html';  
      // }
      // else if($type==3){
      //   include 'seller_menu.html'; 
      // }
    ?>

      <div>
        <div class="container w ">
          <div class="container">
            <div class="row centered">              
                <legend><h1>Message Box</h1></legend>
              </div>
              <div class="row" style="margin-top:20px">
                <a href="newMessage.html"><button type="button" class="btn btn-default" style="margin-top:-30px;margin-bottom:20px">NEW Message</button></a>
              </div>
            </div><!-- row -->
          </div><!-- container -->
        </div>
        <div class="container border-radius" style="background-color:white">
          <!-- header message table -->
          <div class="row centered">
            <div class="col-sm-1 op">
              Remove
            </div>
            <div class="col-sm-1 op">
              Reply
            </div>
            <div class="col-sm-3">
              <h2>Sender name</h2>
            </div>
            <div class="col-sm-4">
              <h2>Subject</h2>
            </div>
            <div class="col-sm-3">
              <h2>Received date</h2>
            </div>
          </div>
          <!-- end of header message table -->
          <hr>
          <!-- body message table -->
          <?php foreach ($messages->result() as $row){
             echo '<div class="row mf">';
            echo '<div class="col-sm-1 centered">';
              echo '<a href="'.site_url('message_c/delete/'.$row->Message_ID).'"><img src="assets/img/del-icon.png"></a>';
            echo '</div>';
            echo '<div class="col-sm-1 centered">';
              echo '<a href="'.site_url('message_c/reply/'.$row->Message_ID).'"><img src="assets/img/reply-icon.jpg"></a>';
            echo '</div>';
            echo '<div class="col-sm-3">';
              echo '<h4>'.$row->Sender_Name.'</h4>';
            echo '</div>';
            echo '<div class="col-sm-4">';
              echo '<a href="'.site_url('message_c/messageDetail/'.$row->Message_ID).'" ><h4>'.$row->Subject.'</h4>';
            echo '</div>';
            echo '<div class="col-sm-3">';
              echo '<h4>'.$row->Datetime.'</h4>';
            echo '</div>';
          echo '</div>';
        }
        ?>
       
      </div>
      <!-- msg part-->

      

	<!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src=<?php echo base_url("assets/js/bootstrap.min.js"); ?>></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

</body>
</html>