<!doctype html>
<!--<?php
  $messages;

?>-->
<htlm lang="en">
  <head>
<?php
    include 'HTMLHeader.html';
  ?>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body>

  <!-- Fixed navbar -->
  <?php
      if($type==0){
        include 'guest_menu.html';
      }
      else if($type==1){
        include 'admin_menu.html';  
      }            
      else if($type==2){
        include 'buyer_menu.html';  
      }
      else if($type==3){
        include 'seller_menu.html'; 
      }
    ?>

      <div>
        <div class="container w ">
          <div class="container">
            <div class="row centered">              
                <legend><h1>Message Box</h1></legend>
              </div>
              <div class="row" style="margin-top:20px">
                <a href="newMessage.html"><button type="button" class="btn btn-default" style="margin-top:-30px;margin-bottom:20px">NEW Message</button></a>
              </div>
            </div><!-- row -->
          </div><!-- container -->
        </div>
        <div class="container border-radius" style="background-color:white">
          <!-- header message table -->
          <div class="row centered">
            <div class="col-sm-1 op">
              Remove
            </div>
            <div class="col-sm-1 op">
              Reply
            </div>
            <div class="col-sm-3">
              <h2>Sender name</h2>
            </div>
            <div class="col-sm-4">
              <h2>Subject</h2>
            </div>
            <div class="col-sm-3">
              <h2>Received date</h2>
            </div>
          </div>
          <!-- end of header message table -->
          <hr>
          <!-- body message table -->
          <div class="row mf">
            <div class="col-sm-1 centered">
              <a href="message_c/delete/msgid"><img src="assets/img/del-icon.png"></a>
            </div>
            <div class="col-sm-1 centered">
              <a href="message_c/reply/msgid"><img src="assets/img/reply-icon.jpg"></a>
            </div>
            <div class="col-sm-3">
              <h4>Natchez@dumbobay.com</h4>
            </div>
            <div class="col-sm-4">
              <a href="message_c/messageDetail/msgid" ><h4>I need small ears</h4>
            </div>
            <div class="col-sm-3">
              <h4>1 Nov 2014 at 7:03 AM</h4>
            </div>
          </div>
          <div class="row mf">
            <div class="col-sm-1 centered">
              <a href="#"><img src="assets/img/del-icon.png"></a>
            </div>
            <div class="col-sm-1 centered">
              <a href="#"><img src="assets/img/reply-icon.jpg"></a>
            </div>
            <div class="col-sm-3">
              <h4>Boombi@dumbobay.com</h4>
            </div>
            <div class="col-sm-4">
              <h4>Can I have your phone number?</h4>
            </div>
            <div class="col-sm-3">
              <h4>5 Nov 2014 at 10:03 AM</h4>
            </div>
          </div>
          <div class="row mf">
            <div class="col-sm-1 centered">
              <a href="#"><img src="assets/img/del-icon.png"></a>
            </div>
            <div class="col-sm-1 centered">
              <a href="#"><img src="assets/img/reply-icon.jpg"></a>
            </div>
            <div class="col-sm-3">
              <h4>Putty@superdupergood.com</h4>
            </div>
            <div class="col-sm-4">
              <h4>I'm gonna die!</h4>
            </div>
            <div class="col-sm-3">
              <h4>6 Nov 2014 at 2:12 PM</h4>
            </div>
          </div>
          
          <!-- end of body message table -->
        </div><!-- container -->
      </div>
      <!-- msg part-->

      <!-- FOOTER -->
      <div id="f" style="margin-top:50px">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-push-2">
              <img src="assets/img/DumboBay-Logo-b.png">
            </div>
            <div class="col-md-6 col-md-push-2">
              <img src="assets/img/Frappe-Logo-bg-sm.png">
            </div>
          </div><!-- row -->
        </div><!-- container -->
      </div><!-- Footer -->

	<!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src=<?php echo base_url("assets/js/bootstrap.min.js"); ?>></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

</body>
</html>