<!DOCTYPE html>
<html lang="en">
  <head>
<?php
    include 'HTMLHeader.html';
  ?>
    <style>
    li.watchlist{
      margin-top: 30px;
      margin-bottom: 30px;
    }

    </style>
  </head>

  <body>

    <!-- Fixed navbar -->
    <<?php
      if($type==0){
        include 'guest_menu.html';
      }
      else if($type==1){
        include 'admin_menu.html';  
      }            
      else if($type==2){
        include 'buyer_menu.html';  
      }
      else if($type==3){
        include 'seller_menu.html'; 
      }
    ?>

  <div id="myheaderwrap">
    <div class="container">
      <div class="row centered">
          <h2>Want it that much ? Then <b>PAY</b> more. <b>-DumboBay-</b></h3> 
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- headerwrap -->

	<div>
		<div class="container">
			<div>
				<div class="col-md-10 col-md-offset-1" style="padding-top:30px; padding-bottom:25px">
          <div class="row centered">
        
              <legend><h1 style="color:black;padding-top:13px">Product</h1></legend>
        
          </div>
				</div>
        
        <div class="col-md-10 col-md-offset-1 border-radius" style="background-color:white">
          <div class="row centered" >
            <img src=<?php echo '"'.base_url().'assets/img/'.$product->Image.'"' ?> width="350px" height="300" style="margin:20px 20px">
          </div>
          <div class="row" style="margin-left:40px;margin-right:40px;margin-bottom:40px">
            <h1><?php echo $product->Name; ?></h1><!-- detail of each type (2 type)-->
            <?php
              if($product->Type==1){
                
                echo '<br>Price: '.$product->Price. 'Baht';
                echo '<br>Quantity: '.$product->Quantity. ' ea';
                echo '<br>Announcement date: '.$product->Datetime;
                echo '<br>Seller: '.$seller_name;
                echo '<br>Brand: '.$product->Brand;
                echo '<br>Model: '.$product->Model;
                echo '<br>Capacity: '.$product->Capacity;
                echo '<br>Size: '.$product->Size;
                echo '<br>Property: '.$product->Property;
                echo '<br>Defect: '.$product->Defect;
                echo '<br>Quality: '.$product->Quality;
                echo '<br>Payment: '.$product->Payment;
                echo '<br>Packaging: '.$product->Packaging;
                echo '<br>Delivery fee: '.$product->Delivery_Fee;
                echo '<br>Delivery confirmation: '.$product->Delivery_Confirmation;
                echo '<br>Tax: '.$product->Tax;
                echo '<br>Return product: '.$product->Return_Product;
                echo '<br>Return fee: '.$product->Return_Fee.'</p>';
            } else if($product->Type==2) {
                echo '<p>Auction status: '.$product->Status;
                echo '<br>Current price: '.$product->Current_Price.' Baht';
                echo '<br>Start price: '.$product->Price. 'Baht';
                echo '<br>Bid Increment: '.$product->Bid_Increment. 'Baht';
                echo '<br>End of auction date: '.$product->End_Date;
                echo '<br>Auction start date: '.$product->Datetime;
                echo '<br>Seller: '.$seller_name;
                echo '<br>Brand: '.$product->Brand;
                echo '<br>Model: '.$product->Model;
                echo '<br>Capacity: '.$product->Capacity;
                echo '<br>Size: '.$product->Size;
                echo '<br>Property: '.$product->Property;
                echo '<br>Defect: '.$product->Defect;
                echo '<br>Quality: '.$product->Quality;
                echo '<br>Payment: '.$product->Payment;
                echo '<br>Packaging: '.$product->Packaging;
                echo '<br>Delivery fee: '.$product->Delivery_Fee;
                echo '<br>Delivery confirmation: '.$product->Delivery_Confirmation;
                echo '<br>Tax: '.$product->Tax;
                echo '<br>Return product: '.$product->Return_Product;
                echo '<br>Return fee: '.$product->Return_Fee.'</p>';

                     }
            ?>

            <a href="javascript:window.history.go(-1);"><button type="button" class="btn btn-default">Back</button></a>
          </div>
          <div class="row">
            
          </div>
        </div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->



	


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src=<?echo base_url("assets/js/bootstrap.min.js");?>></script>
  </body>
</html>
