<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="assets/ico/favicon.png">

	<title>DUMBOBAY - shopping area</title>

	<!-- Bootstrap core CSS -->
	<link href="assets/css/bootstrap.css" rel="stylesheet">
	<link href="assets/css/dumbobaycss.css" rel="stylesheet">
	<link href="assets/css/font-awesome.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="assets/css/main.css" rel="stylesheet">


	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body>

	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" style="padding:2px 15px 2px 15px"><img src="assets/img/dumbobay-logo-sm.png"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="index.html">HOME</a></li>
					<li><a href="signin.html">SIGN IN</a></li>
					<li><a href="signup.html">SIGN UP</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<!-- =======================================================================-->
	<div id="myheaderwrap">
		<div class="container">
			<div class="row centered">
				<h2>Just let me <b>Shop</b> and no one gets hurt. <b>-DumboBay-</b></h3>	
				</div><!-- row -->
			</div><!-- container -->
		</div><!-- headerwrap -->
		<!-- ======================================================================= -->	
		<!-- =======================================================================-->
		<!--PRODUCT-->
		<div class="product" >

			<div class="container w">
				<div class="container">
					<div class="row">
						<!--<img src="assets/img/products.png" id="back" style="cursor:pointer">-->
						<div class="col-lg-6 col-lg-push-4">
							<img src="assets/img/price-tag-icon.png">
						</div>
						<div class="col-lg-6" style="margin-top:20px;margin-left:-5%">
							<h1>Products</h1>
						</div>
					</div><!-- row -->
				</div><!-- container -->
			</div>
			<div class="container desc">
				<div class="row">
					<!-- DIRECT SALE ================================================ -->
					<div class="col-lg-6 border-shadow border-left-radius" style="background-color:white">
						<h2 align="center">Direct Sale</h2>
						<br>
						<!-- SEARCH DIRECT SALE-->
						<div class="row">
							<div class="col-lg-9">
								<input type="text" class="form-control" id="inputDirectSaleSearch" placeholder="Direct sale search">
							</div>
							<div class="col-lg-3">
								<button type="button" class="btn btn-default">Search</button>
							</div>
						</div>
						<!-- END OF SEARCH DIRECT SALE-->
						<br>
						<div class="productcontainer">
							<hr>
							<div class="row">
								<div class="col-lg-4 centered productimg"> 
									<img src="assets/img/macbook.png">
								</div>
								<div class="col-lg-4"> 
									<b>Macbook Air</b><br>
									Price: 10,000 Baht<br>
									Amount: 1 ea<br>
									<a href="#">More info..</a>
								</div>
								<div class="col-lg-4 productbutton">
									<a data-toggle="modal" data-target="#amountform" href="#amountform"><button type="button" class="btn btn-default">Add to Cart</button></a>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-lg-4 centered productimg"> 
									<img src="assets/img/macbook.png">
								</div>
								<div class="col-lg-4"> 
									<b>Macbook Air</b><br>
									Price: 10,000 Baht<br>
									Amount: 1 ea<br>
									<a href="#">More info..</a>
								</div>
								<div class="col-lg-4 productbutton">
									<a data-toggle="modal" data-target="#amountform" href="#amountform"><button type="button" class="btn btn-default">Add to Cart</button></a>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-lg-4 centered productimg"> 
									<img src="assets/img/macbook.png">
								</div>
								<div class="col-lg-4"> 
									<b>Macbook Air</b><br>
									Price: 10,000 Baht<br>
									Amount: 1 ea<br>
									<a href="#">More info..</a>
								</div>
								<div class="col-lg-4 productbutton">
									<a data-toggle="modal" data-target="#amountform" href="#amountform"><button type="button" class="btn btn-default">Add to Cart</button></a>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-lg-4 centered productimg"> 
									<img src="assets/img/macbook.png">
								</div>
								<div class="col-lg-4"> 
									<b>Macbook Air</b><br>
									Price: 10,000 Baht<br>
									Amount: 1 ea<br>
									<a href="#">More info..</a>
								</div>
								<div class="col-lg-4 productbutton">
									<a data-toggle="modal" data-target="#amountform" href="#amountform"><button type="button" class="btn btn-default">Add to Cart</button></a>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-lg-4 centered productimg"> 
									<img src="assets/img/macbook.png">
								</div>
								<div class="col-lg-4"> 
									<b>Macbook Air</b><br>
									Price: 10,000 Baht<br>
									Amount: 1 ea<br>
									<a href="#">More info..</a>
								</div>
								<div class="col-lg-4 productbutton">
									<a data-toggle="modal" data-target="#amountform" href="#amountform"><button type="button" class="btn btn-default">Add to Cart</button></a>
								</div>
							</div>
							<hr>
						</div>
					</div><!-- col-lg-6 -->
					<!-- END OF DIRECT SALE ================================================ -->

					<!-- AUCTION ================================================ -->
					<div class="col-lg-6 border-shadow border-right-radius" style="background-color:white">
						<h2 align="center">Auction</h2>
						<br>
						<!-- SEARCH AUCTION-->
						<div class="row">
							<div class="col-lg-9">
								<input type="text" class="form-control" id="inputAuctionSearch" placeholder="Auction search">
							</div>
							<div class="col-lg-3">
								<button type="button" class="btn btn-default">Search</button>
							</div>
						</div>
						<!-- END OF SEARCH AUCTION-->
						<br>
						<div class="productcontainer">
							<hr>
							<div class="row">
								<div class="col-lg-4 centered productimg"> 
									<img src="assets/img/macbook.png">
								</div>
								<div class="col-lg-4"> 
									<b>Macbook Air</b><br>
									Max bid: 12,500 Baht<br>
									Due date: 12 Dec 2014<br>
									<a href="#">More info..</a>
								</div>
								<div class="col-lg-4 centered auctionbutton">
									<p>time left: 0:02:07</p>
									<a data-toggle="modal" data-target="#bidform" href="#bidform"><button type="button" class="btn btn-default">Add to Watch List</button></a>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-lg-4 centered productimg"> 
									<img src="assets/img/macbook.png">
								</div>
								<div class="col-lg-4"> 
									<b>Macbook Air</b><br>
									Max bid: 3,500 Baht<br>
									Due date: 12 Dec 2014<br>
									<a href="#">More info..</a>
								</div>
								<div class="col-lg-4 centered auctionbutton">
									<p>time left: 0:12:42</p>
									<button type="button" class="btn btn-default">Add to Watch List</button>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-lg-4 centered productimg"> 
									<img src="assets/img/macbook.png">
								</div>
								<div class="col-lg-4"> 
									<b>Macbook Air</b><br>
									Max bid: 4,500 Baht<br>
									Due date: 12 Dec 2014<br>
									<a href="#">More info..</a>
								</div>
								<div class="col-lg-4 centered auctionbutton">
									<p>time left: 1:01:17</p>
									<button type="button" class="btn btn-default">Add to Watch List</button>
								</div>
							</div>
							<hr>
						</div>
					</div>
					<!-- END OF AUCTION ================================================ -->
					<br><br>
					<!--search -->


				</div><!-- row -->
			</div><!-- container -->
		</div>
		<!--end PRODUCT-->
		<!-- =======================================================================-->

		<!-- FOOTER -->
		<div id="f" style="margin-top:50px">
			<div class="container">
				<div class="row">
				<div class="col-md-6 col-md-push-2">
					<img src="assets/img/DumboBay-Logo-b.png">
				</div>
				<div class="col-md-6 col-md-push-2">
					<img src="assets/img/Frappe-Logo-bg-sm.png">
				</div>
				</div><!-- row -->
			</div><!-- container -->
		</div><!-- Footer -->


		<!-- MODAL FOR CONTACT -->
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">DumboBay</h4>
					</div>
					<!-- Log in form -->
					<form class="form-horizontal">
						<div class="modal-body">
							<div class="row centered">
								<fieldset>
									<legend>SIGN IN</legend>
									<div align="center">
										<div class="form-group">
											<label style="left:20%" for="inputEmail" class="col-lg-2 control-label">Username</label>
											<div class="col-lg-10">
												<input style="width:50%" type="text" class="form-control" id="inputEmail" placeholder="Put your username in here." >
											</div>
										</div>
										<div class="form-group">
											<label style="left:20%" for="inputPassword" class="col-lg-2 control-label">Password</label>
											<div class="col-lg-10">
												<input style="width:50%" type="password" class="form-control" id="inputPassword" placeholder="********">
											</div>
										</div>
									</div>
								</fieldset>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							<a href="buyer_home.html"><button type="button" class="btn btn-danger">Sign In</button></a>
							<a href="buyer_home.html"><button type="button" class="btn btn-danger">Sign In:Buyer</button></a>
							<a href="seller_home.html"><button type="button" class="btn btn-danger">Sign In:Seller</button></a>
							<a href="admin_home.html"><button type="button" class="btn btn-danger" >Sign In:Admin</button></a>
						</div>
					</form>
					<!-- /Log in form -->
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<!-- MODAL FOR ADD to CART -->
		<!-- Modal -->
		<div class="modal fade" id="amountform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">DumboBay</h4>
					</div>
					<form class="form-horizontal">
						<div class="modal-body">
							<div class="row centered">
								<fieldset>
									<legend>Add to Cart</legend>
									<div align="center">
										<div class="form-group" style="padding-left:40px;padding-right:40px">
											<label for="inputMaxBid" class="col-lg-3 control-label">Amount: </label>
											<div class="col-lg-9">
												<input type="text" class="form-control" id="inputAmount" placeholder="Enter amount">
											</div>
										</div>
									</div>
								</fieldset>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							<a href="#"><button type="button" class="btn btn-submit">Submit</button></a>
						</div>
					</form>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<!-- MODAL FOR WATCHLIST -->
		<!-- Modal -->
		<div class="modal fade" id="bidform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">DumboBay</h4>
					</div>
					<form class="form-horizontal">
						<div class="modal-body">
							<div class="row centered">
								<fieldset>
									<legend>Add to Watch List</legend>
									<div align="center">
										<div class="form-group">
											<button type="button" class="btn btn-default">Bid</button>
											<span class="help-block">bid description</span>
										</div>
										<h5>OR</h5>
										<div class="form-group" style="padding-left:40px;padding-right:40px">
											<label for="inputMaxBid" class="col-lg-3 control-label">Max bid: </label>
											<div class="col-lg-6">
												<input type="text" class="form-control" id="inputMaxBid" placeholder="Enter Max bid">
											</div>
											<div class="col-lg-3">
												<button type="button" class="btn btn-default">Bid</button>
											</div>
											<span class="help-block">bid description</span>
										</div>
									</div>
								</fieldset>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						</div>
					</form>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

</body>

</html>
