<!DOCTYPE html>
<html lang="en">
  <head>
<?php
    include 'HTMLHeader.html';
  ?>
    <style>
    li.watchlist{
      margin-top: 30px;
      margin-bottom: 30px;
    }

    </style>
  </head>

  <body>

    <!-- Fixed navbar -->
    <?php
      if($type==0){
        include 'guest_menu.html';
      }
      else if($type==1){
        include 'admin_menu.html';  
      }            
      else if($type==2){
        include 'buyer_menu.html';  
      }
      else if($type==3){
        include 'seller_menu.html'; 
      }
    ?>

  <div id="myheaderwrap">
    <div class="container">
      <div class="row centered">
          <h2>Want it that much ? Then <b>PAY</b> more. <b>-DumboBay-</b></h3> 
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- headerwrap -->

	<div>
		<div class="container">
			<div>
				<div class="col-md-10 col-md-offset-1" style="padding-top:30px; padding-bottom:25px">
          <div class="row centered">
        
              <legend><h1 style="color:black;padding-top:13px">Product</h1></legend>
        
          </div>
				</div>
        
        <div class="col-md-10 col-md-offset-1 border-radius" style="background-color:white">
          <div class="row" >
            <img class="col-md-5" src=<?php echo '"'.base_url().'assets/img/'.$product->Image.'"' ?> width="350px" height="300" style="margin:20px 20px">
            <div class="col-md-5" style="margin-left:40px;margin-right:40px;margin-bottom:40px">
            <h1><?php echo $product->Name; ?></h1><!-- detail of each type (2 type)-->
            <?php
              
              if($product->Type==1){
                echo '<br><strong>Price: </strong>'.$product->Price. ' Baht';
                echo '<br><strong>Quantity: </strong>'.$product->Quantity. ' ea';
                echo '<br><strong>Announcement date: </strong>'.$product->Datetime;
                echo '<br><strong>Seller: </strong>';
                echo '<br><br><h3>Details</h3>';
                echo '<br><strong>Brand: </strong>'.$product->Brand;
                echo '<br><strong>Model: </strong>'.$product->Model;
                echo '<br><strong>Capacity: </strong>'.$product->Capacity;
                echo '<br><strong>Size: </strong>'.$product->Size;
                echo '<br><strong>Property: </strong>'.$product->Property;
                echo '<br><strong>Defect: </strong>'.$product->Defect;
                echo '<br><strong>Quality: </strong>'.$product->Quality;
                echo '<br><strong>Payment: </strong>'.$product->Payment;
                echo '<br><strong>Packaging: </strong>'.$product->Packaging;
                echo '<br><strong>Delivery fee: </strong>'.$product->Delivery_Fee;
                echo '<br><strong>Delivery confirmation: </strong>'.$product->Delivery_Confirmation;
                echo '<br><strong>Tax: </strong>'.$product->Tax;
                echo '<br><strong>Return product: </strong>'.$product->Return_Product;
                echo '<br><strong>Return fee: </strong>'.$product->Return_Fee.'</p>';
            } else if($product->Type==2) {
                $status="";
              if($product->Product_Status==0) $status='Auction open';
              else if($product->Product_Status==1) $status='Auction closed';
           
                  
                echo '<p><strong>Auction status: </strong>'.$status;
                echo '<br><strong>Current price: </strong>'.$product->Current_Price.' Baht';
                echo '<br><strong>Start price: </strong>'.$product->Price. ' Baht';
                echo '<br><strong>Bid Increment: </strong>'.$product->Bid_Increment. 'Baht';
                echo '<br><strong>End of auction date: </strong>'.$product->End_Date;
                echo '<br><strong>Auction start date: </strong>'.$product->Datetime;
                echo '<br><strong>Seller: </strong>'.$seller_name;
                echo '<br><br><h3>Details</h3>';
                echo '<br><strong>Brand: </strong>'.$product->Brand;
                echo '<br><strong>Model: </strong>'.$product->Model;
                echo '<br><strong>Capacity: </strong>'.$product->Capacity;
                echo '<br><strong>Size: </strong>'.$product->Size;
                echo '<br><strong>Property: </strong>'.$product->Property;
                echo '<br><strong>Defect: </strong>'.$product->Defect;
                echo '<br><strong>Quality: </strong>'.$product->Quality;
                echo '<br><strong>Payment: </strong>'.$product->Payment;
                echo '<br><strong>Packaging: </strong>'.$product->Packaging;
                echo '<br><strong>Delivery fee: </strong>'.$product->Delivery_Fee;
                echo '<br><strong>Delivery confirmation: </strong>'.$product->Delivery_Confirmation;
                echo '<br><strong>Tax: </strong>'.$product->Tax;
                echo '<br><strong>Return product: </strong>'.$product->Return_Product;
                echo '<br><strong>Return fee: </strong>'.$product->Return_Fee.'</p>';

                     }
            ?>

            <a href="javascript:window.history.go(-1);"><button type="button" class="btn btn-default">Back</button></a>
          </div>
          </div>
        </div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src=<?echo base_url("assets/js/bootstrap.min.js");?>></script>
  </body>
</html>
