<!DOCTYPE html>
<html lang="en">

<head>
<?php
    include 'HTMLHeader.html';
  ?>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body>

	<!-- Fixed navbar -->
	<?php
			if($type==0){
				include 'guest_menu.html';
			}
			else if($type==1){
				include 'admin_menu.html';	
			}            
			else if($type==2){
				include 'buyer_menu.html';	
			}
			else if($type==3){
				include 'seller_menu.html';	
			}
			 if($this->session->flashdata('message')) echo '
    <script>
      alert("'.$this->session->flashdata('message').'");
    </script>
    ';
    ?>
	<!-- =======================================================================-->
		<div id="myheaderwrap">
			<div class="container">
				<div class="row centered">
					<h2>Just let me <b>Shop</b> and no one gets hurt. <b>-DumboBay-</b></h3>	
				</div><!-- row -->
			</div><!-- container -->
		</div><!-- headerwrap -->
		<!-- ======================================================================= -->	
		<!-- =======================================================================-->
		<!--PRODUCT-->
		<div class="product" >
 
			<div class="container w">
				<div class="container">
					<div class="row centered">
						<h1>Products</h1>
					</div><!-- row -->
				</div><!-- container -->
			</div>
			<div class="container desc">

				<div class="border-radius" style="background-color:white;margin-bottom:20px">
					<form class="form-horizontal row" id="search-form" name="search-form" action=<?php echo site_url('product_c/search') ?> method="post" style="padding-top:20px;"  onsubmit="return validateForm()">
							<div class="col-lg-3">
								
							</div>
							<div class="col-lg-5">
								<input type="text" class="form-control" id="search" name="search">
							</div>
							<div class="col-lg-1">
								<button type="submit" value="submit" class="btn btn-default">Search</button>
							</div> 
							<div class="col-lg-2">
								<a href=<?php echo site_url('product_c') ?>><button type="button" value="submit" class="btn btn-default">All Products</button></a>
							</div>
					</form>
					<hr>
					<!-- DIRECT SALE ================================================ -->
					<div class="col-lg-6 border-left-radius" style="background-color:white; margin-bottom:20px">
						<h2 align="center">Direct Sale</h2>
						<br>
						<!-- SEARCH DIRECT SALE-->

						<!-- END OF SEARCH DIRECT SALE-->
						<br>
						<div class="productcontainer">
							<?php 

								foreach($directProducts->result() as $row){
								//if($row->Type==1){
									echo "<hr>";
									echo "<div class=\"row\">";
										echo "<div class=\"col-lg-4 centered productimg\">";
										echo img("assets/img/".$row->Image);
										echo "</div>";
										echo "<div class=\"col-lg-4\">";
											echo "<b>".$row->Name."</b><br>";
											echo "Price: ".$row->Price." Baht<br>";
											//echo "Amount: ".$row->Quantity." ea<br>";
											echo "<a href= \"product_c/viewProductDetail/".$row->Product_ID."\" >More info..</a>";
										echo "</div>";
										echo "<div class=\"col-lg-4 productbutton\">";
											echo "<a  href=\"cart_c/addToCart/".$row->Product_ID."/1\"><button type=\"button\" class=\"btn btn-default\">Add to Cart</button></a>";
										echo "</div>";
									echo "</div>";
									//}data-toggle=\"modal\" data-target=\"#amountform\"
								}					
							?>
							<hr>
						</div>
					</div><!-- col-lg-6 -->
					<!-- END OF DIRECT SALE ================================================ -->

					<!-- AUCTION ================================================ -->
					<div class="col-lg-6 border-right-radius" style="background-color:white">
						<h2 align="center">Auction</h2>
						<br>
						<!-- SEARCH AUCTION-->
						<div class="row">
							<div class="col-lg-9">
								
							</div>
							<div class="col-lg-3">
								
							</div>
						</div>
						<!-- END OF SEARCH AUCTION-->
						<br>
						
						<div class="productcontainer">
							<?php 
								$x=0;
								foreach($bidProducts->result() as $row){
								//if($row->Type==2)
									//{
									echo "<hr>";
									echo "<div class=\"row\">";
										echo "<div class=\"col-lg-4 centered productimg\">";
										echo img("assets/img/".$row->Image);
										echo "</div>";
										echo "<div class=\"col-lg-5\">";
											echo "<b>".$row->Name."</b><br>";
											echo "Current price: ".$row->Current_Price." Baht<br>";
											echo "Due date: ".$row->End_Date." ea<br>";
											echo "<a href= \"product_c/viewProductDetail/".$row->Product_ID."\" >More info..</a>";
										echo "</div>";
										echo "<div class=\"col-lg-3 centered auctionbutton\">";
											echo "<p>Time left: <a id=\"time".$x."\">  00:00:00:00:00  </a></p>";
											if($row->Status==0) echo "<a href=\"product_c/joinStepBidding/".$row->Product_ID."\"><button type=\"button\" class=\"btn btn-default\">Join Bid</button></a>";
										echo "</div>";
									echo "</div>";
									$x++;
								}					
							?>
							<hr>
						</div>
					</div>
					<!-- END OF AUCTION ================================================ -->
					<br><br>
					<!--search -->
					
				
				</div><!-- row -->
				<div style="display:none">
		<?php
						$x=0;
						foreach($bidProducts->result() as $row){
							echo '<a id="t'.$x.'">'.$row->End_Date.'</a>';
							$x++;
						}
						echo '<a id="length">'.$x.'</a>';
					?>
					</div>
			</div><!-- container -->
		</div>
		<!--end PRODUCT-->
		<!-- =======================================================================-->

		<!-- MODAL FOR WATCHLIST -->
		<!-- Modal -->
		<div class="modal fade" id="bidform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">DumboBay</h4>
					</div>
					<form class="form-horizontal">
						<div class="modal-body">
							<div class="row centered">
								<fieldset>
									<legend>Add to Watch List</legend>
									<div align="center">
										<div class="form-group">
											<button type="button" class="btn btn-default">Bid</button>
											<span class="help-block">bid description</span>
										</div>
										<h5>OR</h5>
										<div class="form-group" style="padding-left:40px;padding-right:40px">
											<label for="inputMaxBid" class="col-lg-3 control-label">Max bid: </label>
											<div class="col-lg-6">
												<input type="text" class="form-control" id="inputMaxBid" placeholder="Enter Max bid">
											</div>
											<div class="col-lg-3">
												<button type="button" class="btn btn-default">Bid</button>
											</div>
											<span class="help-block">bid description</span>
										</div>
									</div>
								</fieldset>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						</div>
					</form>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
<!-- -->
	<script>
	function checkTime(i) {
    if (i < 10) {
        i = "0" + i;
    }
    return i;
  }

  function startTime(t,t1) {
      var x = document.getElementById(t).innerHTML;
      var dx = new Date(x);
      var today = new Date();

      var diff = new Date(dx - today);

      var yy = diff.getUTCFullYear()-1970;
      var mm = diff.getUTCMonth();
      var dd = diff.getUTCDate()-1;      
      var hh = diff.getUTCHours()-7;    
      var min = diff.getUTCMinutes();
      var sec = diff.getUTCSeconds();
      //var dd = diff.getDate();
      //var mm = diff.getMonth()+1; //January is 0!
      //var yyyy = diff.getFullYear();

      //var h = today.getDay();
      //var h = diff.getHours();
      //var m = today.getMonth();
      //var s = today.getYear();
      // add a zero in front of numbers<10

      var a = t;
      var b = t1;
      //m = checkTime(dd);
      //s = checkTime(mm);
      if (diff>0) document.getElementById(t1).innerHTML = " "+yy+":"+mm+":"+dd+":"+hh+":"+min+":"+sec+" ";
      if(diff>0 ) t = setTimeout(function () {
          startTime(a,b)
      }, 500);
    }
 
	function validateForm() {
	    var search = document.forms["search-form"]["search"].value;

	    if (search==null || search=="" ) {
	    	alert("Please put a keyword in the search area.");
	    	return false;
	    }
	    if (!validateSearch(search)){
	    	alert("Result doesn't exist.");
	    	return false;
	    }
	}
	var t = 0;
	// alert(p);
	 for (t=0;t<document.getElementById('length').innerHTML;t++){
	 	
	    startTime('t'+t,'time'+t);
	    // startTime('t0','time0');
	    // alert(p);

	 }
	 // alert('l');
$('#hi').hide();
  	$('#length').hide();
  	// alert('l');
  	// alert('s');
	</script>

<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src=<?echo base_url("assets/js/bootstrap.min.js");?>></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src=<?echo base_url("assets/js/validation_function.js");?>></script>
</body>

</html>
