<!DOCTYPE html>
<html lang="en">
<head>
	<?php
    include 'HTMLHeader.html';
  ?>
	<style type="text/css">
		.profilecontent{
			margin-top:15px;
			margin-bottom:-15px;
		}
		.col-md-9{
			margin-top:-30pxpx;
		}
		p {
			margin-top: -3px
		}
	</style>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body>

	<!-- Fixed navbar -->
  <?php
      if($type==0){
        include 'guest_menu.html';
      }
      else if($type==1){
        include 'admin_menu.html';  
      }            
      else if($type==2){
        include 'buyer_menu.html';  
      }
      else if($type==3){
        include 'seller_menu.html'; 
      }
    ?>
    <?php
	if($this->session->flashdata('message')) echo '
		<script>
			alert("'.$this->session->flashdata('message').'");
		</script>
		';
?>
	<!-- =======================================================================-->
	<div id="myheaderwrap">
		<div class="container">
			<div class="row centered">
				<h2>Just let me <b>Shop</b> and no one gets hurt. <b>-DumboBay-</b></h2>	
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->
	<!-- ======================================================================= -->
	<!-- Profile -->
	<div>
		<div class="container">
			<div>
				<div class="col-md-10 col-md-offset-1 centered" style="padding-top:30px;padding-bottom:25px;">
					<legend>
						<h1>My Profile</h1>
					</legend>
				</div>
				<div class="col-md-10 col-md-offset-1">
					<div class="row">
						<!--<img src="assets/img/products.png" id="back" style="cursor:pointer">-->
						<div class="col-lg-6">
							<a href=<?php echo site_url('member_c/editProfile'); ?>>
								<button type="button" class="btn btn-default" style="margin-top:-30px;margin-bottom:20px">Edit Profile</button>
							</a>
						</div>
						<div class="col-lg-6">

						</div>
					</div><!-- row -->
				</div>
				<div class="col-md-10 col-md-offset-1 border-radius" style="background-color:white">
					<div class="row profilecontent">
						<div class="col-md-3" align="right">
							<label class="control-label">Firstname:</label>								
						</div>
						<div class="col-md-9">
							<p autofocus><?php echo $member->Firstname; ?></p>
						</div>
					</div>
					<div class="row profilecontent">
						<div class="col-md-3" align="right">
							<label class="control-label">Lastname:</label>								
						</div>
						<div class="col-md-9">
							<p><?php echo $member->Lastname; ?></p>
						</div>
					</div>
					<div class="row profilecontent">
						<div class="col-md-3" align="right">
							<label class="control-label">Address:</label>								
						</div>
						<div class="col-md-9">
							<p><?php echo $member->Address; ?></p>
						</div>
					</div>
					<div class="row profilecontent">
						<div class="col-md-3" align="right">
							<label class="control-label">Email:</label>								
						</div>
						<div class="col-md-9">
							<p><?php echo $member->Email; ?></p>
						</div>
					</div>
					<div class="row profilecontent">
						<div class="col-md-3" align="right">
							<label class="control-label">Tel.:</label>								
						</div>
						<div class="col-md-9">
							<p><?php echo $member->Telephone; ?></p>
						</div>
					</div>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->
	<!-- end of Profile -->

	<!-- Footer -->

	<!-- end of Footer-->

<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

</body>
</html>
