<!doctype html>
<htlm lang="en">
  <head>
    <?php
    include 'HTMLHeader.html';
  ?>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
    </head>

    <body>

      <!-- Fixed navbar -->
  <?php
      if($type==0){
        include 'guest_menu.html';
      }
      else if($type==1){
        include 'admin_menu.html';  
      }            
      else if($type==2){
        include 'buyer_menu.html';  
      }
      else if($type==3){
        include 'seller_menu.html'; 
      }
      if($this->session->flashdata('message')) echo '
    <script>
      alert("'.$this->session->flashdata('message').'");
    </script>
    ';
    ?>


      <!-- msg part-->
      <div>
        <div class="container">
          
            <div class="container w ">
              <div class="container">
                <div class="row centered">              
                  <legend><h1><?php if($type==2||$type==3) echo 'Message Box'; else echo 'User Complaint Box'; ?></h1></legend>
                </div>
              </div><!-- row -->
            </div><!-- container -->
            
            <div class="col-md-10 col-md-offset-1 border-radius" style="background-color:white">
            <?php echo form_open('message_c/reply/'.$message_id,'class="form-horizontal" id="message-form" name="message-form" onsubmit="return validateForm()"'); ?>
            
                <div class="row centered" style="margin-right:20px">
                  <fieldset>
                    <h3>Reply Messege</h3>
                    <div align="center">
                      <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Reply to :</label>
                        <div class="col-lg-10">
                          <input type="text" class="form-control" id="msgReceiver" name="msgReceiver" value=<? echo $receiverName; ?> disabled>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputTopic" class="col-lg-2 control-label">Subject :</label>
                        <div class="col-lg-10">
                          <input type="text" class="form-control" id="msgSubject" name="msgSubject" value=<?php echo "'".$subject."'"; ?> disabled>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputMsg" class="col-lg-2 control-label">Message :</label>
                        <div class="col-lg-10">
                        <textarea rows="4"class="form-control" id="msgText" name="msgText" placeholder="type your message here."></textarea>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
                
                <div class="row" style="margin-bottom:25px">
                  <div class="col-lg-2">
                  </div>
                  <div class="col-lg-10">
                    <button type="submit" class="btn btn-warning">Reply</button>
                    <a href=<?php echo site_url('message_c/manageMessageBox') ?>><button type="button" class="btn btn-default" >Cancel</button></a>
                  </div>
                </div>
              </form>
            </div>
          <!-- row -->
        </div><!-- container -->
      </div><!-- headerwrap -->

      <!--end of msg part-->

	<!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src=<?php echo base_url("assets/js/validation_function.js");?> ></script>
  <script>
    function validateForm() {
      var text = document.forms["message-form"]["msgText"].value;
      var message ="";

      if (!validateMessageText(text)||text==''||text==null) {
        alert("Text is invalid.");
        return false;
      }
  }
  </script>
</body>
</html>