<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>DUMBOBAY - shopping area</title>

     <!-- Bootstrap core CSS -->
    <link href=<?php echo base_url("/assets/css/bootstrap.css");?> rel="stylesheet">
    <link href=<?php echo base_url("assets/css/dumbobaycss.css");?> rel="stylesheet">
    <link href=<?php echo base_url("assets/css/font-awesome.min.css");?> rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href=<?php echo base_url("assets/css/main.css");?> rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style>
      li.watchlist{
        margin-top: 30px;
        margin-bottom: 30px;
      }
      
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        
      }
      th, td {
        padding: 5px;
        text-align: left;    
      }

    </style>

    <script type="text/javascript">

     function changeReport() {
      var selectBox = document.getElementById("select");
      var selectedValue = selectBox.options[selectBox.selectedIndex].value;
      if(selectedValue=="1"){
      var x = document.getElementById("table1").innerHTML;
      document.getElementById("table0").innerHTML = x;
      }else if(selectedValue=="2"){
      var x = document.getElementById("table2").innerHTML;
      document.getElementById("table0").innerHTML = x;
      }else if(selectedValue=="3"){
      var x = document.getElementById("table3").innerHTML;
      document.getElementById("table0").innerHTML = x;
      }
     }

    </script>

  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="padding:2px 15px 2px 15px"><img src=<?php echo base_url("/assets/img/dumbobay-logo-sm.png");?> rel="stylesheet"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

           <li><a href="#">HOME</a></li>
           <li><a href="#">PRODUCT</a></li>
           <li><a href="#">MY CART</a></li>
           <li><a href="#">WATCH LIST</a></li>
           <li><a href="#">ORDER</a></li>
           <li><a href="#">MSG BOX</a></li>
           <li><a href="#">HISTORY</a></li>
           <!-- <li><a data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o"></i></a></li> -->
            <li><a href="index.html">SIGN OUT</a></li>
            <li><a href="#">| Pookpik |</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div id="myheaderwrap">
      <div class="container">
        <div class="row centered">
            <h2>Want it that much ? Then <b>PAY</b> more. <b>-DumboBay-</b></h2> 
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- headerwrap -->

    <div>
      <div class="container">
        <div>

          <div class="col-md-10 col-md-offset-1" style="padding-top:50px; padding-bottom:25px">
            <div class="row">
              <div class="col-md-1" style="padding-left:20px">
                <img src=<?php echo base_url("/assets/img/report.png"); ?> width="100" height="110">
              </div>
              <div class="col-md-8" style="padding-left:50px">
                <h1 style="color:black;padding-top:30px;padding-left:0px">Report</h1>
              </div>
              
            </div>
          </div>
          <div class="col-md-10 col-md-offset-1" style="padding-bottom:10px">
            <div class="row">
              <div class="form-group">
                <label for="select" class="col-lg-2 control-label">Select report : </label>
                <div class="col-lg-4" style="padding-left:0px">
                  <select class="form-control" id="select" onchange="changeReport();">
                    <option id="bestseller" value="1" selected="">Best selling products</option>
                    <option value="2">Best sellers</option>
                    <option value="3">Blacklist</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-10 col-md-offset-1 border-radius" style="background-color:white">
            <table id="table0" style="width:100%;">
              <tr>
                <th colspan="4"><h3><b>Best selling products (Top 10)</b></h3></th>
              </tr>
              <tr>
                <th>Rank</th>
                <th>Product name</th>
                <th>Sale method</th>
                <th>Sell amount</th>
              </tr>
              <?php
                $i=1;
                foreach($products->result() as $row){
                  if($row->type ==1){
                    $type = "Direct";
                  }else $type = "Bidding";
                  echo "<tr>";
                    echo "<td>$i</td>";
                    echo "<td>$row->name</td>";
                    echo "<td>$type</td>";
                    echo  "<td>$row->SumQuantity</td>";
                  echo "</tr>";
                  $i=$i+1;
                }
              ?>
            </table>
            <table id="table1" style="width:100%;">
              <tr>
                <th colspan="4"><h3><b>Best selling products (Top 10)</b></h3></th>
              </tr>
              <tr>
                <th>Rank</th>
                <th>Product name</th>
                <th>Sale method</th>
                <th>Sell amount</th>
              </tr>
              <?php
                $i=1;
                foreach($products->result() as $row){
                  if($row->type ==1){
                    $type = "Direct";
                  }else $type = "Bidding";
                  echo "<tr>";
                    echo "<td>$i</td>";
                    echo "<td>$row->name</td>";
                    echo "<td>$type</td>";
                    echo  "<td>$row->SumQuantity</td>";
                  echo "</tr>";
                  $i=$i+1;
                }
              ?>
            </table>
            <table id="table2" style="width:100%;">
              <tr>
                <th colspan="4"><h3><b>Best sellers(Top 10)</b></h3></th>
              </tr>
              <tr>
                <th>Rank</th>
                <th>Seller name</th>
                <!-- <th>Duration</th> -->
                <th>Total Money</th>
              </tr>
              <?php
                $i=1;
                foreach($sellers->result() as $row){
                  echo "<tr>";
                    echo "<td>$i</td>";
                    echo "<td>$row->username</td>";
                    echo  "<td>$row->SumPrice</td>";
                  echo "</tr>";
                  $i=$i+1;
                }
              ?>
              </tr>
            </table>
            <table id="table3" style="width:100%;">
              <tr>
                <th colspan="3"><h3><b>Blacklist</b></h3></th>
              </tr>
              <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Email</th>
              </tr>
              <?php
                $i=1;
                foreach($blacklistUsers->result() as $row){
                  echo "<tr>";
                    echo "<td>$row->User_ID</td>";
                    echo  "<td>$row->Username</td>";
                     echo  "<td>$row->Email</td>";
                  echo "</tr>";
                  $i=$i+1;
                }
              ?>
             <!--  <tr>
                <td>JohnS345</td>
                <td>31 Dec 2014</td>
              </tr>
              <tr>
                <td>Alex38595</td>
                <td>2 Jan 2015</td>
              </tr> -->
            </table>

            <div class="col-md-2 col-md-offset-10" style="padding-top:15px;padding-bottom:15px; padding-left:40px">
              <button type="submit" class="btn btn-primary">Print report</button>
            </div>

          </div>
          

        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <div id="f" style="margin-top:50px">
      <div class="container">
        <div class="row">
        <div class="col-md-6 col-md-push-2">
          <img src=<?php echo base_url("/assets/img/DumboBay-Logo-b.png");?> >
        </div>
        <div class="col-md-6 col-md-push-2">
          <img src=<?php echo base_url("/assets/img/Frappe-Logo-bg-sm.png");?> rel="stylesheet">>
        </div>
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- Footer -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function(){
      $("#table1").hide();
      $("#table2").hide();
      $("#table3").hide();
    });
    </script>

  </body>
</html>