<!DOCTYPE html>
<html lang="en">
  <head>
<?php
    include 'HTMLHeader.html';
  ?>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style>
      
    	a {
    		color:#F3F781;
    		text-decoration: none;
    	}
    	a:hover,
		a:focus {
		  color: #FFFFFF;
		  text-decoration: underline;
		}
    </style>
  </head>

  <body>

    <!-- Fixed navbar -->
  <?php
      if($type==0){
        include 'guest_menu.html';
      }
      else if($type==1){
        include 'admin_menu.html';  
      }            
      else if($type==2){
        include 'buyer_menu.html';  
      }
      else if($type==3){
        include 'seller_menu.html'; 
      }
      if($this->session->flashdata('message')) echo '
    <script>
      alert("'.$this->session->flashdata('message').'");
    </script>
    ';
    ?>


	<div id="headerwrap" >
		<div class="container" >
		<div class="container" style="margin-bottom:30px">
			<div class="row centered" >
				<div class="col-lg-8 col-lg-offset-2">
				<h1 style="margin-top:50px">Welcome!</h1><br><h1 style="margin-top:-20px;margin-bottom:20px;font-size:40px">Do you have any product?</h1>
				<h1 style="margin-top:-20px;margin-bottom:40px;font-size:40px">Let's join us.</h1>
				<h3><a href=<?php echo site_url('home_c/product');?>><b>> Product <</b></a></h3>
				<h3><a href=<?php echo site_url('product_c/newProduct');?>><b>> Add Product <</b></a></h3>
				<h3><a href=<?php echo site_url('home_c/message'); ?>><b>> Messages Box <</b></a></h3>
				<h3><a href=<?php echo site_url('home_c/history'); ?>><b>> History <</b></a></h3>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src=<?echo base_url("?>assets/js/bootstrap.min.js");?>></script>
  
  </body>
</html>
