<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="assets/ico/favicon.png">

	<title>DUMBOBAY - shopping area</title>

	<!-- Bootstrap core CSS -->
	<link href=<?php echo base_url("/assets/css/bootstrap.css");?> rel="stylesheet">
    <link href=<?php echo base_url("assets/css/dumbobaycss.css");?> rel="stylesheet">
    <link href=<?php echo base_url("assets/css/font-awesome.min.css");?> rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href=<?php echo base_url("assets/css/main.css");?> rel="stylesheet">

	<style type="text/css">
		.signin{
			width: 70%;
			padding: 5% 10%;
			position: relative;
			margin-left: auto;
			margin-right: auto;
		}
	</style>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body>

	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" style="padding:2px 15px 2px 15px"><?php echo img("assets/img/dumbobay-logo-sm.png"); ?></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="home_c">HOME</a></li>
					<li class="active"><a href="home_c/login">SIGN IN</a></li>
					<li><a href="home_c/register">SIGN UP</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<!-- =======================================================================-->
	<div id="myheaderwrap">
		<div class="container">
			<div class="row centered">
				<h2>Just let me <b>Shop</b> and no one gets hurt. <b>-DumboBay-</b></h2>	
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->
	<!-- ======================================================================= -->
	<!-- Log in form -->
	<?php echo validation_errors(); ?>
   	<?php echo form_open('login_c'); ?>
	<div class="signin">
		<form class="form-horizontal" >
			<div class="row centered">
				<fieldset>
					<legend><h1>SIGN IN</h1></legend>
					<div align="center">
						<div class="form-group">
							<label style="left:20%" for="inputEmail" class="col-sm-2 control-label">Username</label>
							<div class="col-sm-10">
								<input style="width:50%" type="text" class="form-control" size="20" id="username" name="username" placeholder="Put your username in here." >
							</div>
						</div>
						<div class="form-group">
							<label style="left:20%" for="inputPassword" class="col-sm-2 control-label">Password</label>
							<div class="col-sm-10">
								<input style="width:50%" type="password" class="form-control" size="20" id="password" name="password" placeholder="********">
							</div>
						</div>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<a href="#"><button type="submit" value="login" class="btn btn-danger">Sign In</button></a><br><br>
						<a href="home_c/register"><button type="button" value="login" class="btn btn-info">Sign Up</button></a>
						<span class="help-block">If you have no account, click Sign Up.</span>
					</div>

				</fieldset>
			</div>
		</form>
	</div>
	


	<!-- MODAL FOR CONTACT -->
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">DumboBay</h4>
				</div>
				<!-- Log in form -->
				<form class="form-horizontal">
					<div class="modal-body">
						<div class="row centered">
							<fieldset>
								<legend>SIGN IN</legend>
								<div align="center">
									<div class="form-group">
										<label style="left:20%" for="inputEmail" class="col-lg-2 control-label">Username</label>
										<div class="col-lg-10">
											<input style="width:50%" type="text" class="form-control" size="20" id="username" name="username" placeholder="Put your username in here." >
										</div>
									</div>
									<div class="form-group">
										<label style="left:20%" for="inputPassword" class="col-lg-2 control-label">Password</label>
										<div class="col-lg-10">
											<input style="width:50%" type="password" class="form-control" size="20" id="password" name="password" placeholder="********">
										</div>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<a href="#"><button type="submit" value="login" class="btn btn-danger">Sign In</button></a>
					</div>
				</form>
				<!-- /Log in form -->
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

</body>
</html>
