<!DOCTYPE html>
<html lang="en">
<head>
	<?php
		include 'HTMLheader.html';
	?>
	<style type="text/css">
		.signin{
			width: 70%;
			padding: 5% 10%;
			position: relative;
			margin-left: auto;
			margin-right: auto;
		}
	</style>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body>

	<!-- Fixed navbar -->
	<?php
		include 'guest_menu.html';
	?>
	<!-- =======================================================================-->
	<div id="myheaderwrap">
		<div class="container">
			<div class="row centered">
				<h2>Just let me <b>Shop</b> and no one gets hurt. <b>-DumboBay-</b></h2>	
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->
	<!-- ======================================================================= -->
	<!-- Log in form -->
	
	<div class="container">
		<form class="form-horizontal" >
			<div>
				<fieldset>
					<legend align="center" style="padding-top:10px"><h1>SIGN UP</h1></legend>
					<div class="col-md-10 col-md-offset-1 border-radius" style="padding-top:20px;margin-bottom:25px">

						<div class="form-group">
							<label class="col-md-3 control-label" align="right">Username</label>
							<div class="col-md-9">
								<input style="width:50%" type="text" class="form-control" size="20" id="username" name="username" placeholder="Put your username here." >
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label" align="right">Password</label>
							<div class="col-md-9">
								<input style="width:50%" type="password" class="form-control" size="20" id="password" name="password" placeholder="********">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label" align="right">Re-password</label>
							<div class="col-md-9">
								<input style="width:50%" type="password" class="form-control" size="20" id="password" name="password" placeholder="********">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label" align="right">Name</label>
							<div class="col-md-9">
								<input style="width:50%" type="text" class="form-control" size="20" id="username" name="username" placeholder="Put your name here." >
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label" align="right">Surname</label>
							<div class="col-md-9">
								<input style="width:50%" type="text" class="form-control" size="20" id="username" name="username" placeholder="Put your surname here." >
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label" align="right">Address</label>
							<div class="col-md-9">
								<input type="text" class="form-control" size="20" id="username" name="username" placeholder="Put your address here." >
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label" align="right">E-mail</label>
							<div class="col-md-9">
								<input style="width:50%" type="text" class="form-control" size="20" id="username" name="username" placeholder="Put your e-mail here." >
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label" align="right">Tel.</label>
							<div class="col-md-9">
								<input style="width:50%" type="text" class="form-control" size="20" id="username" name="username" placeholder="Put your telephone number here." >
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label" align="right">User Type</label>
							<div class="col-md-9">
								<div class="radio">
									<label>
										<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
										Buyer
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
										Seller
									</label>
								</div>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-3" align="right">

							</div>
							<div class="col-md-9">
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
								<a href="#"><button type="submit" value="login" class="btn btn-warning">Submit</button></a>
							</div>
						</div>
						
					</div>

				</fieldset>
			</div>
		</form>
	</div>

	<!-- FOOTER -->
	<div id="f">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-push-2">
					<img src="assets/img/DumboBay-Logo-b.png">
				</div>
				<div class="col-md-6 col-md-push-2">
					<img src="assets/img/Frappe-Logo-bg-sm.png">
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- Footer -->


	


<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

</body>
</html>
