<!doctype html>
<!--<?php
  $message;
  // pai du nai schema tor
?>-->
<htlm lang="en">
  <head>
    <?php
    include 'HTMLHeader.html';
  ?>

   


  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
    </head>

    <body>

      <!-- Fixed navbar -->
  <?php
      // if($type==0){
      //   include 'guest_menu.html';
      // }
      // else if($type==1){
      //   include 'admin_menu.html';  
      // }            
      // else if($type==2){
      //   include 'buyer_menu.html';  
      // }
      // else if($type==3){
      //   include 'seller_menu.html'; 
      // }
    ?>

      <!-- msg part-->
      <div>
        <div class="container">
          <div>
            <div class="container w ">
              <div class="container">
                <div class="row centered">              
                  <legend><h1>Message Box</h1></legend>
                </div>
              </div><!-- row -->
            </div><!-- container -->
            <div class="container">
          <div class="row">
            <!--<img src="assets/img/products.png" id="back" style="cursor:pointer">-->
            <div class="col-lg-6">
              <a href="<?php echo site_url('message_c/manageMessageBox') ?>"><button type="button" class="btn btn-default" style="margin-top:-10px;margin-bottom:20px">All Messages</button></a>
            </div>
            <div class="col-lg-6">
              
            </div>
          </div><!-- row -->
          
        </div>

            <div class="col-md-10 col-md-offset-1 border-shadow border-radius" style="background-color:white">
              <form class="form-horizontal">
              
                  <div class="row">
                    <fieldset>
                      <h3 align="center">View Message</h3>
                      <?php
                        foreach ($message->result() as $msg){
                          $from = $msg->Sender_Name;
                          $topic = $msg->Subject;
                          $text = $msg->Text;
                        }
                      ?>
                      <div>
                        <div class="form-group">
                          <label for="inputEmail" class="col-lg-2 control-label" align="right">From :</label>
                          <div class="col-lg-10">
                            <p><? echo $from; ?></p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputTopic" class="col-lg-2 control-label" align="right">Topic :</label>
                          <div class="col-lg-10">
                            <p><? echo $topic; ?></p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputMsg" class="col-lg-2 control-label" align="right">Messege :</label>
                          <div class="col-lg-10">
                            <p><? echo $text; ?></p>
                          </div>
                        </div>
                      </div>

                    </fieldset>
                  </div>
                
                
              </form>
            </div>
          </div><!-- row -->
        </div><!-- container -->
      </div><!-- headerwrap -->

      <!--end of msg part-->

	<!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

</body>
</html>