<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>DUMBOBAY - shopping area</title>

    <!-- Bootstrap core CSS -->
  <link href=<?php echo base_url("/assets/css/bootstrap.css");?> rel="stylesheet">
  <link href=<?php echo base_url("assets/css/dumbobaycss.css");?> rel="stylesheet">
  <link href=<?php echo base_url("assets/css/font-awesome.min.css");?> rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href=<?php echo base_url("assets/css/main.css");?> rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style>
    li.watchlist{
      margin-top: 30px;
      margin-bottom: 30px;
    }

    </style>
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="padding:2px 15px 2px 15px"><?php echo img("assets/img/dumbobay-logo-sm.png"); ?></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            <li><a href="#">HOME</a></li>
            <li><a href="#">PRODUCT</a></li>
            <li><a href="#">MY CART</a></li>
            <li class="active"><a href="#">WATCH LIST</a></li>
            <li><a href="#">ORDER</a></li>
            <li><a href="#">MSG BOX</a></li>
            <li><a href="#">HISTORY</a></li>
            <!-- <li><a data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o"></i></a></li> -->
          	<li><a href="index.html">SIGN OUT</a></li>
          	<li><a href="#">| Pookpik |</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

  <div id="myheaderwrap">
    <div class="container">
      <div class="row centered">
          <h2>Want it that much ? Then <b>PAY</b> more. <b>-DumboBay-</b></h3> 
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- headerwrap -->

	<div>
		<div class="container">
			<div>
				<div class="col-md-10 col-md-offset-1" style="padding-top:50px; padding-bottom:25px">
          <div class="row">
            <div class="col-md-2" style="padding-left:20px">
              <img src="assets/img/watchlist.png" width="130" height="100">
            </div>
            <div class="col-md-8">
              <h1 style="color:black;padding-top:13px">Watchlist</h1>
            </div>
            <div class="col-md-2" style="padding-top:70px;padding-left:70px">
              items: 4
            </div>
          </div>
				</div>
        
        <div class="col-md-10 col-md-offset-1 border-radius" style="background-color:white">
          <ol style="list-style-type:none; padding-left: 0px">
            <li class="watchlist" style="border-bottom:solid #c9c9c9 1px; padding-bottom: 30px">
              <div class="row">
                <div class="col-md-6">
                  <button type="button" class="btn btn-danger">Auto</button>
                </div>
                <div class="col-md-5">
                  <input type="text" class="form-control" id="inputDirectSaleSearch" placeholder="Search...">
                </div>

                <div class="col-md-1" style="padding-left:0px">
                  <button type="button" class="btn btn-default">Search</button>
                </div>
              </div>
            </li>
            <li class="watchlist" style="border-bottom:solid #c9c9c9 1px; padding-bottom: 30px">
              <div class="row">
                <div class="col-md-3">
                  <img src="assets/img/iphone6.jpg" width="185" height="104">
                </div>
                <div class="col-md-4">
                  <h3>iPhone 6</h3>
                  <strong>Due date: </strong>12 Dec 14<br>
                  <a href="#">more info...</a>
                </div>
                <div class="col-md-5">
                  <div class="row" style="padding-top:10px">
                    <div class="col-md-12">
                      <strong>current bid: </strong>100 bath<br><strong>time left: </strong>18 hr<br><strong>bidding: </strong>manual<br><strong>your max bid: </strong>-
                    </div>
                  </div>
                  <div class="row">
                    <br>
                    <div class="col-md-2">
                      <button type="button" class="btn btn-default">Bid</button>
                    </div>
                    <div class="col-md-10">
                      
                      <div class="row">
                        <label  style="left:10%; padding-top:5px" for="inputEmail" class="col-md-4">Max bid:</label>

                        <div class="form-group col-md-7" style="left:0%; padding-right:0px">
                          <div class="input-group">
                
                            <input type="text" class="form-control"  placeholder="Enter max bid">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Bid</button>
                            </span>
                          </div>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="watchlist" style="border-bottom:solid #c9c9c9 1px; padding-bottom: 30px">
              <div class="row">
                <div class="col-md-3">
                  <img src="assets/img/iphone6.jpg" width="185" height="104">
                </div>
                <div class="col-md-4">
                  <h3>iPhone 6</h3>
                  <strong>Due date: </strong>12 Dec 14<br>
                  <a href="#">more info...</a>
                </div>
                <div class="col-md-5">
                  <div class="row" style="padding-top:10px">
                    <div class="col-md-12">
                      <strong>current bid: </strong>100 bath<br><strong>time left: </strong>18 hr<br><strong>bidding: </strong>auto<br><strong>your max bid: </strong>200 bath
                    </div>
                  </div>
                  <div class="row">
                    <br>
                    <div class="col-md-2">
                      <button type="button" class="btn btn-default">Bid</button>
                    </div>
                    <div class="col-md-10">
                      <div class="row">
                        <label  style="left:10%; padding-top:5px" for="inputEmail" class="col-md-4">Max bid:</label>

                        <div class="form-group col-md-7" style="left:0%; padding-right:0px">
                          <div class="input-group">
                
                            <input type="text" class="form-control"  placeholder="Enter max bid">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Bid</button>
                            </span>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="watchlist" style="border-bottom:solid #c9c9c9 1px; padding-bottom: 30px">
              <div class="row">
                <div class="col-md-3">
                  <img src="assets/img/iphone6.jpg" width="185" height="104">
                </div>
                <div class="col-md-4">
                  <h3>iPhone 6</h3>
                  <strong>Due date: </strong>12 Dec 14<br>
                  <a href="#">more info...</a>
                </div>
                <div class="col-md-5">
                  <div class="row" style="padding-top:10px">
                    <div class="col-md-12">
                      <strong>current bid: </strong>100 bath<br><strong>time left: </strong>18 hr<br><strong>bidding: </strong>manual<br><strong>your max bid: </strong>-
                    </div>
                  </div>
                  <div class="row">
                    <br>
                    <div class="col-md-2">
                      <button type="button" class="btn btn-default">Bid</button>
                    </div>
                    <div class="col-md-10">
                      
                      <div class="row">
                        <label  style="left:10%; padding-top:5px" for="inputEmail" class="col-md-4">Max bid:</label>

                        <div class="form-group col-md-7" style="left:0%; padding-right:0px">
                          <div class="input-group">
                
                            <input type="text" class="form-control"  placeholder="Enter max bid">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Bid</button>
                            </span>
                          </div>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="watchlist" style="border-bottom:solid #c9c9c9 1px; padding-bottom: 30px">
              <div class="row">
                <div class="col-md-3">
                  <img src="assets/img/iphone6.jpg" width="185" height="104">
                </div>
                <div class="col-md-4">
                  <h3>iPhone 6</h3>
                  <strong>Due date: </strong>12 Dec 14<br>
                  <a href="#">more info...</a>
                </div>
                <div class="col-md-5">
                  <div class="row" style="padding-top:10px">
                    <div class="col-md-12">
                      <strong>current bid: </strong>100 bath<br><strong>time left: </strong>18 hr<br><strong>bidding: </strong>manual<br><strong>your max bid: </strong>-
                    </div>
                  </div>
                  <div class="row">
                    <br>
                    <div class="col-md-2">
                      <button type="button" class="btn btn-default">Bid</button>
                    </div>
                    <div class="col-md-10">
                      
                      <div class="row">
                        <label  style="left:10%; padding-top:5px" for="inputEmail" class="col-md-4">Max bid:</label>

                        <div class="form-group col-md-7" style="left:0%; padding-right:0px">
                          <div class="input-group">
                
                            <input type="text" class="form-control"  placeholder="Enter max bid">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Bid</button>
                            </span>
                          </div>
                        </div>

                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </li>
            
          </ol>
        </div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->


	
	
	<!-- FOOTER -->
    <div id="f" style="margin-top:50px">
      <div class="container">
        <div class="row">
        <div class="col-md-6 col-md-push-2">
          <img src="assets/img/DumboBay-Logo-b.png">
        </div>
        <div class="col-md-6 col-md-push-2">
          <img src="assets/img/Frappe-Logo-bg-sm.png">
        </div>
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- Footer -->


	


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>
