
.productimg img{
	width:170px;
	height:100px;
}
.productbutton {
	position:relative;
	height:96px;
}
.productbutton button{
	width:100px;
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-14px;
	margin-left:-50px
}
.auctionbutton button{
	margin-top: -25px;
}
.auctionbutton p{
	padding-top: 10px;
}

}