.starRating{
  display        : inline-block;
  position       : relative;
  height         : 24px;
  background     : url('stars.png') repeat-x 0 0;
  vertical-align : bottom;
}

.starRating div{
  float    : left;
  position : relative;
  height   : 24px;
}

.starRating input{
  position : relative;
  z-index  : 1;
  width    : 24px;
  height   : 24px;
  margin   : 0;
  padding  : 0;
  opacity  : 0;
}

.starRating label{
  position : absolute;
  top      : 0;
  left     : 0;
  width    : 100%;
  height   : 24px;
}

.starRating span{
  display : none;
}

.starRating       input:checked       + label,
.starRating:hover input:checked:hover + label{
  background : url('stars.png') repeat-x 0 -24px;
}

.starRating:hover input:checked + label{
  background : transparent;
}

.starRating:hover input:hover + label{
  background : url('stars.png') repeat-x 0 -48px;
}

.productimg img{
	width:170px;
	height:100px;
}
.productbutton {
	position:relative;
	height:96px;
}
.productbutton button{
	width:100px;
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-14px;
	margin-left:-50px
}
.auctionbutton button{
	margin-top: -25px;
}
.auctionbutton p{
	padding-top: 10px;
}
.productcontainer{
	height:450px;
	overflow:auto;
	
}
.border-shadow{
	-webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.76);
	-moz-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.76);
	box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.76);
}

.border-right-radius{
	border-radius: 0px 15px 15px 0px;
	-moz-border-radius: 0px 15px 15px 0px;
	-webkit-border-radius: 0px 15px 15px 0px;

}
.border-left-radius{
	border-radius: 15px 0px 0px 15px;
	-moz-border-radius: 15px 0px 0px 15px;
	-webkit-border-radius: 15px 0px 0px 15px;

}
.border-radius{
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
}